.sociallogin
    button.sociallogin-github
        span
            i.fab.fa-github
        span Continue with Github
    button.sociallogin-facebook
        span
            i.fab.fa-facebook
        span Continue with Facebook