doctype html
html
    head
        script(script src="https://kit.fontawesome.com/547820806f.js", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/main.css")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js") 
