extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.editVideo}`, methos=post)
           input(type="text", name="title", placeholder="Title")
           textarea(name="description", placeholder="Description")
           input(type="submit", value="Update Video")
        a.form-container__link(href=`/videos${routes.deleteVideo}`) Delete Video